body{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background: rgb(170, 136, 84);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
a{
    color: rgb(14, 11, 11);
    text-align: center;
   
}
a:hover{
    color: aliceblue;
    font-weight: 100;
}
    

div{

    justify-content: center;
    text-align: center;
}
div::after{
    display: block;
    content: '';
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    background: url(gym1.png);
}
